.footer
{
  margin-left: 15px;
}
.btn-sm
{
  margin-right: 5px;
}
.btn-default
{
  margin-right: 5px;
}

.sidebar:after, .sidebar:before, body > .navbar-collapse:after, body > .navbar-collapse:before
{
  height: 115% !important;  
}